[submodule "myApp/plugins/banner_accountsreceivable_common.git"]
	path = myApp/plugins/banner_accountsreceivable_common.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_accountsreceivable_common.git
	branch = master
[submodule "myApp/plugins/banner_accountsreceivable_validation_common.git"]
	path = myApp/plugins/banner_accountsreceivable_validation_common.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_accountsreceivable_validation_common.git
	branch = master
[submodule "myApp/plugins/banner_codenarc.git"]
	path = myApp/plugins/banner_codenarc.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_codenarc.git
	branch = master
[submodule "myApp/plugins/banner_core.git"]
	path = myApp/plugins/banner_core.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_core.git
	branch = master
[submodule "myApp/plugins/banner_general_common.git"]
	path = myApp/plugins/banner_general_common.git
	url = https://rajuk@git.ellucian.com/scm/bc/BANNER-PLUGINS-banner_general_common.git
	branch = master
[submodule "myApp/plugins/banner_general_person.git"]
	path = myApp/plugins/banner_general_person.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_general_person.git
	branch = master
[submodule "myApp/plugins/banner_general_utility.git"]
	path = myApp/plugins/banner_general_utility.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_general_utility.git
	branch = master
[submodule "myApp/plugins/banner_general_validation_common.git"]
	path = myApp/plugins/banner_general_validation_common.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_general_validation_common.git
	branch = master
[submodule "myApp/plugins/banner_packaging.git"]
	path = myApp/plugins/banner_packaging.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_packaging.git
	branch = master
[submodule "myApp/plugins/banner_spring_security_cas.git"]
	path = myApp/plugins/banner_spring_security_cas.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_spring_security_cas.git
	branch = master
[submodule "myApp/plugins/banner_spring_security_saml.git"]
	path = myApp/plugins/banner_spring_security_saml.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_spring_security_saml.git
	branch = master
[submodule "myApp/plugins/banner_student_common.git"]
	path = myApp/plugins/banner_student_common.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_student_common.git
	branch = master
[submodule "myApp/plugins/banner_student_faculty.git"]
	path = myApp/plugins/banner_student_faculty.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_student_faculty.git
	branch = master
[submodule "myApp/plugins/banner_student_validation.git"]
	path = myApp/plugins/banner_student_validation.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_student_validation.git
	branch = master
[submodule "myApp/plugins/banner_ui_ss.git"]
	path = myApp/plugins/banner_ui_ss.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-banner_ui_ss.git
	branch = master
[submodule "myApp/plugins/domain_extension.git"]
	path = myApp/plugins/domain_extension.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-domain_extension.git
	branch = master
[submodule "myApp/plugins/i18n_core.git"]
	path = myApp/plugins/i18n_core.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-i18n_core.git
	branch = master
[submodule "myApp/plugins/sghe_aurora.git"]
	path = myApp/plugins/sghe_aurora.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-sghe_aurora.git
	branch = master
[submodule "myApp/plugins/spring_security_saml.git"]
	path = myApp/plugins/spring_security_saml.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-spring_security_saml.git
	branch = master
[submodule "myApp/plugins/web-app-extensibility.git"]
	path = myApp/plugins/web-app-extensibility.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-web-app-extensibility.git
	branch = master
[submodule "myApp/plugins/grails-constraints.git"]
	path = myApp/plugins/grails-constraints.git
	url = https://rajuk@git.ellucian.com/scm/bc/banner-plugins-grails-constraints.git
	branch = master
